.thumb {
    margin: 10px 5px 0 0;
    width: 200px;
}

/*Progress Bar*/
#upload-progress {
    height: 20px;
    border: 1px solid #ddd;
    width: 100%;
}
#upload-progress .progress-bar {
    background: #bde1ff;
    width: 0;
    height: 20px;
}
